body{
    background: url('./images/Фон\ 1.png') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: Ubuntu;
}
.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color:  rgba(0, 0, 0, 0.4);
  z-index: 9999; 
  height: 58px;
}
.logo{
  text-decoration: none;
  position: absolute;
  left: 79px;
  top: 18px;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
  color: white;
}
a.logo:hover{
  color:rgba(60, 184, 120, 1);
}
.icons{
  left: 940px;
  top: 5px;
  position: absolute;
}
.icon {
  display: inline-block;
  width: 21px;
  height: 24px;
  margin: 10px;
}
a.icon:hover svg{
fill:rgba(60, 184, 120, 1);
stroke:  rgba(60, 184, 120, 1);
}
.line{
  position: absolute;
width: 1px;
height: 19px;
left: 1083px;
top: 20px;
}
a.sign-up:hover{
  color:rgba(60, 184, 120, 1);
}
.log-in{
color: white;
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 15px;
position: absolute;
left: 1111px;
top: 21px;
}
.sign-up{
  color: white;
  text-decoration: none;
}
.modal_window{
  width: 444px;
height: 584px;
background-color: rgba(255, 255, 255, 1);
position: fixed;
top: 50%;
left: 50%;
margin: -252px 0 0 -222px;
align-items: center;
justify-content: center;
display: flex;
}
.small-block{
  position: absolute;
width: 18px;
height: 18px;
background: #3CB878;
left: 0px;
top: 29px;
}
.title{
  font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 20px;
left: 61px;
top: 31px;
position: absolute;
}
.title2{
  font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 14px;
color: #3CB878;
text-decoration: none;
top: 33px;
right: 59px;
position: absolute;
}
a.title2:hover {
  color: #01813F;
  text-decoration: underline;
}
.facebook{
background-color:  rgba(48, 93, 184, 1);
position: absolute;
top: 61px;
left: 61px;
}
.facebook img{
 position: absolute;
 left: 16px;
}
.google{
  background-color: rgba(223, 74, 50, 1);
  position: absolute;
top: 61px;
right: 61px;
}
.item{
  width: 157px;
  height: 46px;
  font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 16px;
border-radius: 3px;
color: white;
text-align: center;
justify-content: center;
display: flex;
align-items: center;
border: 0;
}
.google img{
  position: absolute;
  left: 10px;
}
button.facebook:hover{
  background: rgba(2, 34, 99, 1);

}
button.google:hover{
  background: rgba(171, 31, 9, 1);
}
.or{
  font-weight: 400;
font-size: 14px;
line-height: 14px;
position: absolute;
top: 139px;
left: 215px;
}
.input{
  display: block;
  color: #BEBEBE;
  font-weight: 400;
font-size: 14px;
line-height: 14px;
border: 1px solid gainsboro;
width: 299px;
height: 44px;
margin-bottom: 15px;
padding-left: 20px;
}
.div1{
position: absolute;
top: 165px;
}
.checkbox-link{
  font-weight: 400;
font-size: 14px;
line-height: 14px;
color: rgba(60, 184, 120, 1);
text-decoration: none;
}
.checkbox-text{
  font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 14px;
}
a.checkbox-link:hover{
  color: rgba(1, 129, 63, 1);
  text-decoration: underline;
}
.bth{
  background-color:  rgba(60, 184, 120, 0.8);
  width: 324px;
height: 46px;
border-radius: 3px;
border: 0;
display: block;
color: white;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 16px;
margin-top: 16px;
cursor: pointer;
}
.bth:hover{
  background-color: #01813F;
}
